*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    margin: 200px auto;
    display: block;
    background-color: whitesmoke;
    width: 600px;
    height: 500px;
     border: 0px solid rgba(100, 100, 100, 1);
    border-radius: 4px;
    box-shadow: 11px 7px 24px 0px rgba(0, 0, 0, 0.3);
}
label{
    font-size: 20px;
}
label,input{
    margin: 20px;
}
.img1{
position: absolute;
left: 1150px;
top: 280px;
width: 20px;
color: green;
}
.img2{
    position: absolute;
    left: 1150px;
    top: 390px;
    width: 20px;
    color: green;
}
.img3{
    position: absolute;
    left: 1150px;
    top: 500px;
    width: 20px;
    color: green;
}